<md-bottom-sheet class="md-list md-has-header">


    <h4>Please fill in your credentials to log in to the Particle Cloud.</h4>


    <md-list>
        <form ng-submit="login()">
            <md-input-container flex>
                <label>Email</label>
                <input ng-model="mail" type="email">
            </md-input-container>

            <md-input-container flex>
                <label>Password</label>
                <input ng-model="password" type="password">
            </md-input-container>


            <button ng-click="login()" class="md-button-primary">Login</button>

        </form>
    </md-list>

    {{mail}}
    <br>
    {{password}}

</md-bottom-sheet>
